<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :uin, style: "display: block" %>
    <%= form.text_field :uin %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, value: current_admin.email %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :dob, style: "display: block" %>
    <%= form.date_field :dob %>
  </div>

  <% if executive_officer?%>
  <div>
    <%= form.label :role_id, style: "display: block" %>
    <%= form.collection_select :role_id, Role.all, :id, :role_name, prompt: 'Select a role' %>
  </div>

  <% else %>
    <div class = 'hidden'>
      <%= form.label :role_id, style: "display: block" %>
      <%= form.collection_select :role_id, Role.all, :id, :role_name, prompt: 'Select a role', value: 3 %>
    </div>
  <% end %>

  <div class = 'hidden'>
    <%= form.label :points, style: "display: block" %>
    <%= form.number_field :points, value: 0 %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
