<!-- generic user information for a given user -->
<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Uin:</strong>
    <%= user.uin %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= user.dob %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= user.points %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role_id %>
  </p>

</div>
