<div class="container">

<% if !user? %>
<%= search_form_for(@q, url: users_path)  do |f| %>
  <%= f.search_field :first_name_or_last_name_or_uin_cont,
    placeholder: "Search..." %>
  <div class="btn btn-primary"><%= f.submit "Search!" %></div>
<% end %>
<br/>
<div class="searchdiv">
<table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "ID") %></th>
        <th><%= sort_link(@q, :first_name, "First Name", default_order: :asc) %></th>
        <th><%= sort_link(@q, :last_name, "Last Name") %></th>
        <th><%= sort_link(@q, :uin, "UIN") %></th>
        <th><%= sort_link(@q, :email, "User Email") %></th>
        <th><%= sort_link(@q, :phone_number, "Phone Number") %></th>
        <th><%= sort_link(@q, :dob, "Date of Birth") %></th>
        <th><%= sort_link(@q, :role_id, "Role ID") %></th>        
        <th><%= sort_link(@q, :points, "Points") %></th> 
        <% if executive_officer? %>
          <th>Edit</th> 
          <th>Delete</th>
        <% else %>
            <td></td>
            <td></td>
        <% end %>     
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.id, user %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.uin %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.dob %></td>
          <td><%= user.role_id%></td>
          <td><%= user.points %></td> 
          <% if executive_officer? %>
            <td><%= link_to("Edit", edit_user_path(user.id)) %></td>
            <td><%= link_to "Delete", user, method: :delete %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>  
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%end%>
</div>

