<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= form_tag "/users", method: "GET" do %>
  <%= label_tag :search_by_first_name %>
  <%= text_field_tag :search_by_first_name, params[:search_by_first_name] %>
  <%= label_tag :search_by_uin %>
  <%= text_field_tag :search_by_uin, params[:search_by_uin] %>
  <%= label_tag :search_by_email %>
  <%= text_field_tag :search_by_email, params[:search_by_email] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
