
<% userId = User.find_by(email: current_admin.email) %>
  <div class="container">
  <h2>My Profile</h2>

  <!-- This displays only the current user information on their profile page -->
  <div id="users">
      <% @users.each do |user| %>
        <% if current_admin.email == user.email %>
          <strong>Name:</strong>
          <span><%= user.first_name %></span>
          <span><%= user.last_name %></span>
          <br>
          <br>
          <strong>UIN:</strong>
          <span><%= user.uin %></span>
          <br>
          <br>
          <strong>Email:</strong>
          <span><%= user.email %></span>
          <br>
          <br>
          <strong>Phone Number:</strong>
          <span><%= user.phone_number %></span>
          <br>
          <br>
          <strong>Dob:</strong>
          <span><%= user.dob %></span>
          <br>
          <br>
          <strong>Points:</strong>
          <span><%= user.points %></span>
          <br>
          <br>
          <% if executive_officer? || current_admin.email == 'adao102@tamu.edu' || current_admin.email == 'timo.short@tamu.edu' || current_admin.email == 'vpranav@tamu.edu' || 
                current_admin.email == 'bannerdavid@tamu.edu' || current_admin.email == 'zhanlan@tamu.edu'%>
            <strong>Role:</strong>
            <span><%= user.role_id %></span>
          <% else %>
            <td></td>
            <td></td>
          <% end %> 
          <div class="mt-3">
            <%= link_to "Edit My Information", edit_user_path(user.id) %>
          </div>
          <%= link_to "Delete", user, method: :delete %>
        <% end %>
      <% end %>
  </div>
</div>
</div>