<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Back to User List", users_path %> |

  <%= button_to "Delete", @user, method: :delete %>
</div>
