<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= event.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= event.end %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= event.type_id %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= event.points %>
  </p>

</div>
