<div id="<%= dom_id role %>">
  <p>
    <strong>Role name:</strong>
    <%= role.role_name %>
  </p>

  <p>
    <strong>Create event:</strong>
    <%= role.create_event %>
  </p>

  <p>
    <strong>Delete event:</strong>
    <%= role.delete_event %>
  </p>

  <p>
    <strong>Edit event:</strong>
    <%= role.edit_event %>
  </p>

  <p>
    <strong>Delete member:</strong>
    <%= role.delete_member %>
  </p>

  <p>
    <strong>Promote member:</strong>
    <%= role.promote_member %>
  </p>

</div>
