<%= form_with(model: user_event) do |form| %>
  <% if user_event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_event.errors.count, "error") %> prohibited this user_event from being saved:</h2>

      <ul>
        <% user_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>If you're sure you want to add this event click the button below. This will also add the event to your calendar automatically.</p>

  <!-- This actually creates the new user_event record by confirming they click the button -->
  <div>
    <%= form.submit "Add Event", class: "btn btn-primary"%>
  </div>

  <!-- Since users won't know their specific user id or event id to fill in the fields -->
  <!-- These fields are autopopulated and will not be shown to the user -->
  <div class='hidden'>
    <%= form.label :user_id, style: "display: block" %>
    <% userId = User.find_by(email: current_admin.email) %>
    <%= form.number_field :user_id, value: userId&.id %>
  </div>

  <div class='hidden'>
    <%= form.label :event_id, style: "display: block" %>
    <%= form.number_field :event_id, value: @eventId %>
  </div>

<% end %>
