<div id="<%= dom_id user_event %>">
  <p>
    <strong>User:</strong>
    <%= user_event.user_id %>
  </p>

  <p>
    <strong>Event Name:</strong>
    <%= user_event.event&.name %>
  </p>

  <p>
    <strong>Event Description:</strong>
    <%= user_event.event&.description %>
  </p>

  <p>
    <strong>Event Start Date:</strong>
    <%= user_event.event&.start.strftime("%Y-%m-%d %I:%M %p") %>
  </p>

  <p>
    <strong>Event End Date:</strong>
    <%= user_event.event&.end.strftime("%Y-%m-%d %I:%M %p") %>
  </p>

  <p>
    <strong>Event Points:</strong>
    <%= user_event.event&.points %>
  </p>

</div>
