<!-- displays the user's personal calendar by month that shows all the events they are currently signed up for -->
<%= month_calendar do |date| %>
    <%= date.day %>
    <% @events_by_date[date].each do |event| %>
      <div><%= event.id %></div>
      <div><%= event.status %></div>
      <div><%= event.start %></div>
      <div><%= event.end %></div>
    <% end if @events_by_date[date] %>
  <% end %>
  
  <%= link_to "Back To My Profile", profile_path %>