<p style="color: green"><%= notice %></p>

<%= render @user_event %>

<div>
  <%= link_to "Back to events", events_path %> |
  <%= link_to "Back to My Events", my_events_path %>

  <%= button_to "Remove Sign-Up", @user_event, method: :delete %>
</div>
